/* #region ROOT */
:root {
  --color-dark1: rgb(14, 6, 20);
  --color-dark2: rgb(25, 23, 28);
  --color-dark3: rgb(35, 17, 70);
  --color-light1: rgb(88, 61, 138);
  --color-light2: rgb(143, 146, 163);
  --color-light3: rgb(201, 205, 228);
  --color-white: rgb(242, 242, 243);
  --color-black: rgb(13, 12, 13);

  --color-dark1-alpha: color-mix(
    in srgb,
    var(--color-dark1) 80%,
    transparent 20%
  );
  --color-dark2-alpha: color-mix(
    in srgb,
    var(--color-dark2) 80%,
    transparent 20%
  );
  --color-dark3-alpha: color-mix(
    in srgb,
    var(--color-dark3) 80%,
    transparent 20%
  );
  --color-light1-alpha: color-mix(
    in srgb,
    var(--color-light1) 80%,
    transparent 20%
  );
  --color-light2-alpha: color-mix(
    in srgb,
    var(--color-light2) 80%,
    transparent 20%
  );
  --color-light3-alpha: color-mix(
    in srgb,
    var(--color-light3) 80%,
    transparent 20%
  );

  --weight-thin: 300;
  --weight-normal: 500;
  --weight-bold: 600;
  --weight-black: 800;

  --blur-weak: blur(5px);
  --blur-medium: blur(10px);
  --blur-strong: blur(20px);
}

@property --gradient-color-top {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

@property --gradient-color-top1 {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

@property --gradient-color-bottom {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

@property --gradient-color-bottom1 {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

@property --gradient-percentage-top {
  syntax: "<length> | <percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --gradient-percentage-bottom {
  syntax: "<length> | <percentage>";
  inherits: false;
  initial-value: 0%;
}

/* #endregion */

/* #region CSS-RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  position: relative;
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body * {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body *::-webkit-scrollbar {
  display: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body,
body * {
  font-family: "Bricolage Grotesque", sans-serif !important;
}

body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  container: body / inline-size;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select,
span {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  overflow-wrap: break-word;
  hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-wrap: balance;
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

span {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a,
button,
p,
h1,
h2,
h3 {
  &[data-type="not_selectable"] {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

/* #endregion */

.media_modal {
  position: absolute;
  z-index: 20;

  display: none;
  overflow: hidden;
  width: 100vw;
  height: 100svh;
  justify-content: center;
  align-items: center;

  background: var(--color-dark1-alpha);
  backdrop-filter: var(--blur-weak);
  -webkit-backdrop-filter: var(--blur-weak);

  > img, video {
    display: none;
  }

  > .opened {
    display: block;
    max-width: 90%;
    max-height: 90%;
  }
}

.scrollable_wrapper {
  position: relative;
  scroll-snap-type: y mandatory;

  overflow-y: scroll;
  width: 100vw;
  height: 100%;
  
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.background {
  position: fixed;

  width: 100vw;
  height: 100lvh;
  inset: 0;
}

.bg_canvas {
  z-index: -11;
}

.bg_filter {
  z-index: -10;

  background-image: url("../images/dotnoise.png");
  background-repeat: repeat;
  mix-blend-mode: soft-light;
}

/* #region HEADER */
.header_wrapper {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  will-change: height;

  width: 100%;
  height: fit-content;
  padding: 0 1.5rem;
  border-radius: 0;

  background: var(--color-dark1-alpha);
  backdrop-filter: var(--blur-weak);
  -webkit-backdrop-filter: var(--blur-weak);

  transition: top 0.5s ease, left 0.5s ease, width 0.5s ease,
    border-radius 0.8s ease, transform 0.8s ease;

  &.floating {
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);

    width: calc(100% - 4rem);
    border-radius: 3rem;
  }
}

.header {
  position: relative;

  display: flex;
  height: 6.4rem;
  justify-content: space-between;
  align-items: center;

  container: header / inline-size;
  @container body (max-width: 36rem) {
    height: 6rem;
  }
}

.header_nav ul {
  position: relative;

  display: flex;
  gap: 2rem;
  
  @container header (max-width: 68rem) {
    display: none;
  }
}

.header_wrapper mark {
  background: linear-gradient(
    180deg,
    transparent 50%,
    var(--gradient-color-bottom) 95%,
    transparent 100%
  );
  color: var(--color-light3);
  font-size: 2rem;
  font-weight: var(--weight-bold);
  transition: color 0.25s ease, --gradient-color-bottom 0.25s ease;

  &:hover, &:active {
    --gradient-color-bottom: var(--color-light1-alpha);
    background: linear-gradient(
      180deg,
      transparent 50%,
      var(--gradient-color-bottom) 95%,
      transparent 100%
    );
    color: var(--color-white);
  }

  @container body (max-width: 36rem) {
    font-size: 1.8rem;
  }
}

.header_btns_wrapper {
  position: relative;

  display: flex;
  flex-wrap: nowrap;
}

.header_btns {
  position: relative;

  display: flex;
  padding: 0rem 1rem;

  color: var(--color-light3);

  font-size: 2rem;
  font-weight: var(--weight-bold);

  transition: color 0.25s ease;

  &:hover, &:active {
    color: var(--color-white);
  }

  @container body (max-width: 36rem) {
    font-size: 1.8rem;
  }
}

.header_dropdown_btn {
  display: none;

  @container header (max-width: 68rem) {
    display: block;
  }
}

.arrow_down_icon {
  transform: rotateX(0);
  transform-origin: center;

  width: 2rem;
  height: 2rem;

  transition: transform 0.8s ease;
  pointer-events: none;

  &.toggled {
    transform: rotateX(180deg);
  }
}

.header_hidden_menu {
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;

  transition: height 0.8s ease;

  &.toggled {
    height: 6.4rem;
  }

  @container body (max-width: 36rem) {
    &.toggled {
      height: 6rem;
    }
  }
}

.hidden_menu_nav > ul {
  visibility: hidden;
  opacity: 0;

  display: flex;
  gap: 2rem;

  transition: visibility 0.5s ease, opacity 0.5s ease;

  &.toggled {
    visibility: visible;
    opacity: 1;
  }
}
/* #endregion */

/* #region HERO */
#hero {
  position: relative;
  scroll-snap-align: start;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100svh;
  padding: 0 5vw 0 5vw;

  container: hero / inline-size;

  > p, a {
    display: inline-block;
    text-align: center;
  }
}

.hero_phrase {
  position: absolute;
  z-index: 1;
  top: max(8rem, 18%);

  color: var(--color-light3);
  font-size: clamp(3rem, 4vw, 4rem);
  font-weight: var(--weight-black);

  @container hero (max-width: 45rem) {
    top: 20%;
    font-size: 5vw;
  }
}

.hero_animated_words {
  position: relative;
  z-index: 1;
  top: 25%;

  color: var(--color-light3);

  font-weight: var(--weight-black);
  font-size: clamp(8rem, 13vw, 15rem);

  > .animated_words, .animated_cursor {
    display: inline;
    word-break: break-word;
  }

  @container hero (min-width: 170rem) {
    font-size: max(10rem, 9vw);
  }

  @container hero (max-width: 45rem) {
    font-size: 16vw;
  }
}

.dark_gradient {
  position: absolute;
  z-index: 0;
  bottom: 0;

  width: 100%;
  height: 70%;

  background: linear-gradient(
    180deg, transparent 0%, 
    rgba(14, 6, 20, 0.025) 5%,
    rgba(14, 6, 20, 0.05) 7.5%,
    rgba(14, 6, 20, 0.075) 10%,
    rgba(14, 6, 20, 0.1) 12.5%,
    rgba(14, 6, 20, 0.2) 15%,
    rgba(14, 6, 20, 0.3) 17.5%,
    rgba(14, 6, 20, 0.4) 20%,
    rgba(14, 6, 20, 0.5) 22.5%,
    rgba(14, 6, 20, 0.6) 25%,
    rgba(14, 6, 20, 0.7) 27.5%,
    rgba(14, 6, 20, 0.8) 30%,
    rgba(14, 6, 20, 0.9) 35%,
    rgba(14, 6, 20, 0.95) 40%,
    rgba(14, 6, 20, 0.975) 60%,
    rgba(14, 6, 20, 1) 100%);
}

.graphy_transition {
  position: absolute;
  z-index: 1;
  bottom: 0;

  width: 100%;
  height: 16rem;

  mask: linear-gradient(
    180deg,
    transparent 0%,
    white 100%
  ) ;
  background: url(../images/graphy.png);
}

.cta_wrapper {
  position: absolute;
  z-index: 1;
  bottom: 6.5%;
  will-change: transform;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
  width: 75%;
  height: fit-content;
  border: 1px solid var(--color-dark3);
  border-radius: 2rem;
  padding: 2rem;

  background: url(../images/blob1.webp),
  var(--color-dark1);
  background-size: cover;

  > p {
    color: var(--color-light2);
    font-size: 1.5rem;
    font-weight: var(--weight-thin);
    font-style: italic;
    text-align: center;
    text-wrap: wrap;
  }

  > h1 {
    color: var(--color-white);
    font-size: 2rem;
    font-weight: var(--weight-bold);
    text-align: center;
    text-wrap: wrap;

    > mark {
      background: linear-gradient(
        180deg,
        transparent 50%,
        var(--color-light1-alpha) 95%,
        transparent 100%
      );
      color: var(--color-white);
      font-weight: var(--weight-black);
    }
  }

  > a {
    color: var(--color-light2);
    font-size: 1.2rem;
    font-weight: var(--weight-thin);
    text-align: center;
    text-wrap: wrap;
    transition: color 0.5s ease;

    &:hover, &:active {
      color: var(--color-white);
    }
  }
}

.cta {
  position: relative;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  will-change: transform;

  width: 100%;
  height: fit-content;
  padding: 1.5rem;
  border: 1px solid var(--color-light3);
  border-radius: 1rem;
  
  transition: background-color 0.5s ease;

  > a {
    color: var(--color-light3);
    font-size: 1.5rem;
    text-align: center;
    transition: color 0.5s ease;

    > span {
      font-weight: var(--weight-black);
    }
  }

  &:hover, &:active {
    background: var(--color-white);

    > a {
      color: var(--color-dark3);
    }
  }
}

.scrolldown_btn {
  position: absolute;
  width: 20%;
  aspect-ratio: 1/1;
  bottom: 2rem;
  right: 2rem;
  border-radius: 50%;
  background: var(--color-dark1);
  /* border: 1px solid var(--color-dark3-alpha10); */
  display: flex;
  justify-content: center;

  > button {
    font-size: 1.5rem;
    font-weight: var(--weight-bold);
    font-style: italic;
    color: var(--color-light2);
    transition: color 0.5s ease, transform 0.5s ease;
  }

  &:hover, &:active {
    > button {
      color: var(--color-white);
      transform: scale(1.15);
    }
  }
}
/* #endregion */

.main_container {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;

  background: url(../images/graphy.png),
    linear-gradient(
      180deg,
      var(--color-dark1) 0%,
      var(--color-dark1-alpha) 10%
    );
  background-repeat: repeat repeat;
  padding: 2rem;

  > section {
    position: relative;
    scroll-snap-align: start;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 100svh;
    padding-top: 10rem;
    padding-bottom: 2rem;
  }
}

.sections_h2 {
  position: relative;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;

  > h2 {
    color: var(--color-white);
    font-size: 4rem;
    font-weight: var(--weight-black);
  }
}

.overscroll_y_wrapper {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  --gradient-color-top: white;
  --gradient-color-top1: white;
  --gradient-color-bottom: transparent;
  --gradient-color-bottom1: white;

  mask-image: linear-gradient(
    0deg,
    var(--gradient-color-bottom) 0%,
    var(--gradient-color-bottom1) 5%,
    var(--gradient-color-top1) 95%,
    var( --gradient-color-top) 100%
  );

  transition: --gradient-color-top 0.3s ease,
  --gradient-color-top1 0.3s ease,
  --gradient-color-bottom 0.3s ease,
  --gradient-color-bottom1 0.3s ease;

  &.scrolling {
    --gradient-color-top: transparent;
    --gradient-color-top1: white;
    --gradient-color-bottom: transparent;
    --gradient-color-bottom1: white;
    mask-image: linear-gradient(
    0deg,
    var(--gradient-color-bottom) 0%,
    var(--gradient-color-bottom1) 5%,
    var(--gradient-color-top1) 95%,
    var( --gradient-color-top) 100%
  );
  }

  &.bottom {
    --gradient-color-top: transparent;
    --gradient-color-top1: white;
    --gradient-color-bottom: white;
    --gradient-color-bottom1: white;
    mask-image: linear-gradient(
    0deg,
    var(--gradient-color-bottom) 0%,
    var(--gradient-color-bottom1) 5%,
    var(--gradient-color-top1) 95%,
    var( --gradient-color-top) 100%
  );
  }
}

.overscroll_x_wrapper {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  --gradient-color-top: white;
  --gradient-color-top1: white;
  --gradient-color-bottom: transparent;
  --gradient-color-bottom1: white;

  mask-image: linear-gradient(
    -90deg,
    var(--gradient-color-bottom) 0%,
    var(--gradient-color-bottom1) 6%,
    var(--gradient-color-top1) 94%,
    var( --gradient-color-top) 100%
  );

  transition: --gradient-color-top 0.3s ease,
  --gradient-color-top1 0.3s ease,
  --gradient-color-bottom 0.3s ease,
  --gradient-color-bottom1 0.3s ease;

  &.scrolling {
    --gradient-color-top: transparent;
    --gradient-color-top1: white;
    --gradient-color-bottom: transparent;
    --gradient-color-bottom1: white;
    mask-image: linear-gradient(
    -90deg,
    var(--gradient-color-bottom) 0%,
    var(--gradient-color-bottom1) 6%,
    var(--gradient-color-top1) 94%,
    var( --gradient-color-top) 100%
  );
  }

  &.bottom {
    --gradient-color-top: transparent;
    --gradient-color-top1: white;
    --gradient-color-bottom: white;
    --gradient-color-bottom1: white;
    mask-image: linear-gradient(
    -90deg,
    var(--gradient-color-bottom) 0%,
    var(--gradient-color-bottom1) 6%,
    var(--gradient-color-top1) 94%,
    var( --gradient-color-top) 100%
  );
  }
}

.square {
  aspect-ratio: 1/1;
}

.rect16-9 {
  aspect-ratio: 16/9;
}

.rect4-3 {
  aspect-ratio: 4/3;
}

.rect9-16 {
  aspect-ratio: 9/16;
}

/* #region SHOWCASE */
.showcase_filter {
  position: relative;
  flex-shrink: 0;

  display: flex;
  overflow: hidden;
  width: 100%;
  height: 3rem;
  border: 1px solid var(--color-light1);
  border-radius: 2rem;

  > button {
    flex-shrink: 0;
    font-size: 1.4rem;
    font-weight: var(--weight-bold);
    transition: flex 0.5s ease, --gradient-color-bottom 0.8s ease, color 0.5s ease;
  }

  > .enabled {
    --gradient-color-bottom: var(--color-light1);
    flex: 2;
    background: linear-gradient(
      180deg,
      transparent 0%,
      var(--gradient-color-bottom) 100%
    );
    color: var(--color-white);
  }

  > .disabled {
    flex: 1;
    background: linear-gradient(
      180deg,
      transparent 0%,
      var(--gradient-color-bottom) 100%
    );
    color: var(--color-light3);

    &:hover {
      color: var(--color-white);
    }
  }
}

.showcase_grid {
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  gap: 1rem;

}

.showcase_item {
  position: relative;
  
  display: block;
  overflow: hidden;
  width: 100%;
  height: max-content;
  aspect-ratio: 16/9;
  border-radius: 0.5rem;

  background: var(--color-dark3-alpha);

  > img {
    transform: scale(1);
    transform-origin: center;
    object-fit: cover;
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}
/* #endregion */

/* #region PROJECTS-PAGES */

/* special header for projects pages*/
.projects_header {
  position: relative;
  
  display: flex;
  height: 6.4rem;
  justify-content: center;
  align-items: center;

  container: header / inline-size;
  @container body (max-width: 36rem) {
    height: 6rem;
  }
}

.project_h1 {
  position: relative;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;

  > h1 {
    color: var(--color-white);
    font-size: 3rem;
    font-weight: var(--weight-black);
    text-align: center;
  }
}

.project_paragraph {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: max-content;

  > h2 {
    color: var(--color-white);
    font-size: 2.5rem;
    font-weight: var(--weight-bold);
    text-align: center;
  }

  > p {
    color: var(--color-light3);
    font-size: 1.5rem;
    text-align: justify;
  }

  > .text_box {
    position: relative;

    width: 100%;
    height: fit-content;
    padding: 2rem;
    border: 1px solid var(--color-light1);
    border-radius: 2rem;

    background: url(../images/blob2.webp),
      var(--color-dark1);
    background-size: cover;

    > p {
      color: var(--color-light3);
      font-size: 1.5rem;
      text-align: justify;
    }
  }
}

.project_grid {
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  gap: 1rem;
}

.project_item {
  position: relative;

  display: flex;
  overflow: hidden;
  width: 100%;
  height: max-content;
  
  border-radius: 0.5rem;
  background: var(--color-dark1);
  
  > img {
    transform: scale(1);
    transform-origin: center;
    object-fit: cover;
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  > video {
    transform: scale(1);
    transform-origin: center;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
    will-change: transform;

    &:hover {
      transform: scale(1.05);
    }
  }
}
/* #endregion */

/* #region PORTFOLIO */
.portfolio_col_filter {
  position: relative;
  flex-shrink: 0;

  display: flex;
  overflow: hidden;
  width: 8rem;
  height: 3rem;
  border: 1px solid var(--color-light1);
  border-radius: 2rem;

  > button {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: flex 0.5s ease, --gradient-color-bottom 0.5s ease, color 0.5s ease;
  }

  > .enabled {
    --gradient-color-bottom: var(--color-light1);
    flex: 1;
    background: linear-gradient(
      180deg,
      transparent 0%,
      var(--gradient-color-bottom) 100%
    );
    color: var(--color-white);
  }

  > .disabled {
    flex: 1;
    background: linear-gradient(
      180deg,
      transparent 0%,
      var(--gradient-color-bottom) 100%
    );
    color: var(--color-light3);

    &:hover {
      color: var(--color-white);
    }
  }
}

.portfolio_icons {
  position: relative;
  width: 1.4rem;
  height: 1.4rem;
  pointer-events: none;
}

.portfolio_grid {
  will-change: column-count;
}

.portfolio_1col {
  display: block;
}

.portfolio_2col {
  display: block;
  column-count: 2;
  column-gap: 1rem;
}

.portfolio_item {
  position: relative;

  display: flex;
  overflow: hidden;
  width: 100%;
  height: max-content;
  margin-bottom: 1rem;
  border-radius: 0.5rem;

  background: var(--color-dark3-alpha);

  > img {
    transform: scale(1);
    transform-origin: center;
    object-fit: cover;
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  > video {
    transform: scale(1);
    transform-origin: center;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
    will-change: transform;

    &:hover {
      transform: scale(1.05);
    }
  }
}
/* #endregion */

/* #region ABOUT */
.about_wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: max-content;
}

.about_grid {
  flex-shrink: 0;
  aspect-ratio: 8/13;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(13, 1fr);
  width: 100%;
}

.about_item {
  position: relative;
  place-self: stretch stretch;

  display: flex;
  overflow: hidden;
  border-radius: 2rem;
}

.clip-paths {
  position: absolute;
  width: 0;
  height: 0;
}

.about_item1 {
  z-index: 1;
  grid-column: 1 / span 5;
  grid-row: 1 / span 5;

  -webkit-clip-path: url(#about1);
  clip-path: url(#about1);
}

.about_item2 {
  z-index: 2;
  grid-column: 4 / span 5;
  grid-row: 5 / span 5;

  -webkit-clip-path: url(#about2);
  clip-path: url(#about2);
}

.about_item3 {
  z-index: 3;
  grid-column: 1 / span 5;
  grid-row: 9 / span 5;

  -webkit-clip-path: url(#about3);
  clip-path: url(#about3);
}

.about_img {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img_opacity {
  z-index: 1;
}

.about_text_item {
  position: relative;

  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: right;
  padding: 1.5rem;

  > p {
    color: var(--color-light3);
    font-size: 1.5rem;
    font-weight: var(--weight-normal);
  }

  > p mark {
    background: linear-gradient(
        180deg,
        transparent 50%,
        var(--color-light1-alpha) 95%,
        transparent 100%
      );
    color: var(--color-light3);
    font-weight: var(--weight-black);
  }
}

.about_text1 {
  grid-column: 6 / span 3;
  grid-row: 1 / span 4;
}

.about_text2 {
  grid-column: 1 / span 3;
  grid-row: 6 / span 3;

  > p {
    text-align: right;
  }
}

.about_text3 {
  grid-column: 6 / span 3;
  grid-row: 10 / span 4;
}

.about_paragraph {
  position: relative;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: max-content;

  > h3 {
    color: var(--color-white);
    font-size: 3.5rem;
    font-weight: var(--weight-bold);
    text-align: center;
  }
  
  > h4 {
    color: var(--color-white);
    font-size: 2.5rem;
    font-weight: var(--weight-bold);
    text-align: center;
  }

  > p {
    font-size: 1.5rem;
    color: var(--color-light3);
    text-align: justify;
  }

  > .text_box {
    position: relative;

    width: 100%;
    height: fit-content;
    padding: 2rem;
    border: 1px solid var(--color-light1);
    border-radius: 2rem;

    background: url(../images/blob2.webp),
      var(--color-dark1);
    background-size: cover;

    > p {
      color: var(--color-light3);
      font-size: 1.5rem;
      text-align: justify;
    }
  }
}
/* #endregion */

/* #region PROFESSIONAL */
.timeline_wrapper {
  position: relative;

  display: flex;
  width: 100%;
  height: 100%;
}

.tl_item {
  position: relative;
  flex-shrink: 0;
  scroll-snap-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vw - 4rem);
  height: 100%;
  padding-top: 4.5rem;
  padding-bottom: 2rem;
}

.tl_line {
  position: relative;
  flex-shrink: 0;

  width: 100%;
  height: 0.5rem;
  background: linear-gradient(
    90deg,
    var(--color-light2) 10%,
    var(--color-light3) 50%,
    var(--color-light2) 90%
  );

  &[data-position="first"] {
    border-radius: 1rem 0 0 1rem;
  }

  &[data-position="last"] {
    border-radius: 0 1rem 1rem 0;
  }
}

.tl_icon_wrapper {
  position: absolute;
  z-index: 1;
  top: -4.5rem;
  transform: translateY(50%);

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 9.5rem;
  height: 9.5rem;
  border: 1px solid var(--color-light3);
  border-radius: 50%;

  background: linear-gradient(
    180deg,
    var(--color-light2) 0%,
    var(--color-light3) 80%
  );
  will-change: transform;

  > .tl_icon {
    width: 5.5rem;
    height: 5.5rem;

    path{
      fill: var(--color-dark3);
      stroke: var(--color-dark3);
    }
  }
}

.tl_card {
  position: relative;

  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: calc(100% - 4rem);
  height: 100%;
  padding: 2rem;
  border: 1px solid var(--color-light1);
  border-radius: 0 0 2rem 2rem;

  background: url(../images/blob3.webp),
    var(--color-dark1);
  background-size: cover;
  will-change: height;
}

.tl_date {
  position: relative;
  flex-shrink: 0;

  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;

  > p {
    color: var(--color-light2-alpha);
    font-size: 1.25rem;
    font-weight: var(--weight-bold);
  }
}

.tl_title {
  position: relative;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: fit-content;

  > h3 {
    color: var(--color-white);
    font-size: 2rem;
    font-weight: var(--weight-black);
  }

  > p {
    color: var(--color-light3);
    font-size: 1.3rem;
    font-weight: var(--weight-thin);
  }
}

.tl_separator {
  position: relative;
  flex-shrink: 0;

  width: 100%;
  height: 0.3rem;

  background: var(--color-light3-alpha);
  mask-image: linear-gradient(
    90deg,
    transparent 0%,
    white 40%,
    white 60%,
    transparent 100%
  );
}

.tl_paragraph {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100%;

  > p {
    color: var(--color-light3);
    font-size: 1.5rem;
    text-align: justify;
  }
}
/* #endregion */

/* #region SKILLS */
.skills_wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
  height: 100%;
}

.bar_skill_item {
  position: relative;
  flex-shrink: 0; 

  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: fit-content;
  padding: 2rem;
  border: 1px solid var(--color-light1);
  border-radius: 2rem;

  background: linear-gradient(
    180deg,
    transparent 0%,
    var(--color-light1-alpha) 100%
  );
}

.double_skill_wrapper {
  position: relative;
  flex-shrink: 0; 

  display: flex;
  overflow: hidden;
  gap: 1rem;
  width: 100%;
  height: max-content;
}

.text_skill_item {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  height: fit-content;
  padding: 1.5rem;
  border: 1px solid var(--color-light2);
  border-radius: 2rem;

  background: linear-gradient(
    180deg,
    transparent 0%,
    var(--color-light2-alpha) 100%
  );
}

.skill_name {
  position: relative;
  flex-shrink: 0;

  width: 100%;
  height: fit-content;

  > p {
    color: var(--color-light3);
    font-weight: var(--weight-bold);
    text-align: center;
  }
  
  > .title {
    font-size: 1.8rem;
  }

  > .sub {
    font-size: 1.5rem;
  }
}

.skill_list {
  position: relative;
  flex-shrink: 0;

  width: 100%;
  height: fit-content;
  text-wrap-mode: wrap;

  > li {
    color: var(--color-light3);
    text-align: left;
    font-size: 1.3rem;
    font-weight: var(--weight-normal);
  }
}

.skill_bar {
  position: relative;
  flex-shrink: 0;

  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 0.3rem;

  background: var(--color-dark2);
}

.inner_bar {
  position: relative;

  display: flex;
  overflow: hidden;

  &[data-skill="graphic_design"] {
    width: 95%;
  }
  &[data-skill="video_motion"] {
    width: 85%;
  }
  &[data-skill="3d_animation"] {
    width: 70%;
  }
  &[data-skill="web_development"] {
    width: 65%;
  }

  height: 100%;

  background: linear-gradient(
    90deg,
    var(--color-light1) -15%,
    var(--color-light3) 100%
  );

  > svg {
    position: absolute;
    right: -2rem;

    overflow: visible;
    width: 3rem;
    height: auto;

    color: var(--color-dark2);
    will-change: transform;
  }
}

.skill_icon_row {
  position: relative;
  flex-shrink: 0;

  overflow: hidden;
  width: 100%;
  height: 2.5rem;
}

.skill_icon_grid {
  position: relative;
  
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: start;
  gap: 1rem;

  > img {
    height: 2.5rem;
    width: auto;
    object-fit: contain;
  }
}
/* #endregion */